/* Footer.css */

.alltrails-footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.container {
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.footer-links {
    display: flex;
    justify-content:right;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 20px;
}

.footer-section {
    margin-right: 40px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.footer-social {
    margin-top: 20px;
    margin-right: 20px;
}

.footer-social h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

.footer-social a:last-child {
    margin-right: 0;
}

.footer-social a:hover {
    color: #0073e6;
}