.trail-item-container{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 0px;
    padding: 0px;
}

.trail-item-image{
    border-radius: 25px;
    width: 300px;
    height: 200px;
}

.trail-item.image{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.trail-photo.highlighted{
    transition: transform 0.15s;
    transform: scale(1.05);
}

.trail-item-list{
    padding: 0px;
    overflow-y: auto;
    height: 100vh;
    margin: 10px;
    width: 400px;

}

.trail-content-rating{
    font-size: 13px;
    font-weight: 400;
    color: #656e5e;
    font-family: Manrope, Arial, sans-serif;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trail-contents{
    margin: 10px;
}



.trail-contents img{
    width: 300px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .3s ease-in-out;
    border-radius: 30px;
    cursor: pointer;
    

}

.trail-content-name{
    font-family: Manrope, Arial, sans-serif;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    color: #142800;
}


.main-page-trail-item-container{
    display: flex;
    flex-direction: row;
    
}

.main-page-trail-item-list{
    display: flex;
    overflow-x: scroll;
   
}

.trail-content-park-name span{
    
    font-family: Manrope, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #656e5e;
    font-size: 13px;
}

.trail-content-park-name{
    margin-bottom: 30px;
}

