.trail-item-container{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 0px;
    padding: 0px;
}

.trail-item.image{
    overflow-clip-margin: content-box;
    overflow: clip;
    
       
}

.trail-item-list{
    padding: 0px;
    overflow-y: auto;
    height: 100vh;

}

.trail-content-rating{
    font-size: 13px;
    font-weight: 400;
    color: #656e5e;
    font-family: Manrope, Arial, sans-serif;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.trail-contents{
   
}

.trail-contents img{
    height: 234px;
    width: 352px;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .3s ease-in-out;
    border-radius: 12px;
    cursor: pointer;

}

.trail-content-name{
    font-family: Manrope, Arial, sans-serif;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    color: #142800;
}