.trail-item-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
    border: 0px;
    padding: 0px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}



.trail-item.image {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.trail-photo.highlighted {
    transition: transform 0.15s;
    transform: scale(1.05);
}

.trail-item-list {
    padding: 0px;
    width: 400px;
    overflow-y: auto;
    height: 100vh;

}

.trail-content-rating {
    font-size: 13px;
    font-weight: 400;
    color: #656e5e;
    font-family: Manrope, Arial, sans-serif;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}





.trail-contents img {
    width: 300px;
    height: 200px;

    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .3s ease-in-out;
    border-radius: 25px;
    cursor: pointer;

}

.trail-content-name {
    font-family: Manrope, Arial, sans-serif;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    color: #142800;
}

.right-trail-content {
    border-left: solid grey 0.5px;
    height: auto;
}